<div class="pow-page">
  <h1>Check your email</h1>
  <div class="sign-up-form">
    <h3 class="sent-email">We have sent you an email with a link to reset password.</h3>
    <%= link "Login", to: Routes.pow_session_path(@conn, :new), class: "register-button" %>
  </div>
</div>
