$phone-width: 480px;
$tablet-width: 768px;
$desktop-1024-width: 1024px;
$desktop-1280-width: 1280px;

@mixin phone() {
  @media screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: #{$desktop-1024-width - 1px}) {
    @content;
  }
}

@mixin desktop-1024() {
  @media screen and (max-width: #{$desktop-1280-width - 1px}) {
    @content;
  }
}

@mixin desktop-1280() {
  @media (min-width: #{$desktop-1280-width}) {
    @content;
  }
}
