<div class="your-id">
  Your ID: <span><%= @user.id %></span>
</div>

<%= form_for @changeset, @action, [class: "about-me-form", multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="user-avatar-section">
    <%= label id: "user-avatar-label", class: "user-avatar-label" do %>
      <%= img_tag(user_avatar(@user), id: "avatar-image", class: "user-profile-picture") %>
      <%= file_input f, :avatar, class: "hidden", id: "avatar-input", accept: ".png, .jpg, .jpeg .bmp" %>
    <% end%>
    <%= error_tag f, :avatar %>
    <div id="croppie-avatar-section" class="ololooo hidden">
      <div id="croppie-avatar">
      </div>
      <div class="apply-changes-button" id="apply-avatar-changes">Apply Changes</div>
    </div>
  </div>

  <div class="form-side-block">
    <div class="form-row">
      <div class="form-row-half-left">
        <%= label f, :first_name %>
        <%= text_input f, :first_name, class: "text-input" %>
        <%= error_tag f, :first_name %>
      </div>

      <div class="form-row-half-right">
        <%= label f, :last_name %>
        <%= text_input f, :last_name, class: "text-input" %>
        <%= error_tag f, :last_name %>
      </div>
    </div>
  
    <div class="form-row">
      <%= label f, :email %>
      <%= text_input f, :email, class: "text-input", disabled: true %>
      <%= error_tag f, :email %>
    </div>
  </div>

  <div class="form-block-4-items">
    <div class="form-col">
      <div class="form-el-slim">
        <img src="<%= Routes.static_path(@conn, "/images/linked_in_profile_logo.svg") %>"/>
        <%= text_input f, :linkedin_profile_url, class: "text-input" %>
      </div>
      <div class="form-el-slim">
        <img src="<%= Routes.static_path(@conn, "/images/file_profile_icon.svg") %>"/>
        <%= label class: "retry-block" do %>
          <span>Upload file</span>
          <img src="<%= Routes.static_path(@conn, "/images/retry_profile_icon.svg") %>"/>
          <%= file_input f, :resume, class: "hidden" %>
          <%= error_tag f, :resume %>
        <% end %>
      </div>
    </div>
    <div class="form-col">
      <%= label f, :current_password, "Old Password" %>
      <%= password_input f, :current_password, class: "text-input" %>
      <%= error_tag f, :current_password %>
    </div>
    <div class="form-col">
      <%= label f, :password, "New Password" %>
      <%= password_input f, :password, class: "text-input" %>
      <%= error_tag f, :password %>
    </div>
    <div class="form-col">
      <%= label f, :confirm_password, "Repeat New Password" %>
      <%= password_input f, :confirm_password, class: "text-input" %>
      <%= error_tag f, :confirm_password %>
    </div>
  </div>

  <div class="form-row">
    <%= label f, :education %>
    <%= text_input f, :education, class: "text-input" %>
    <%= error_tag f, :education %>
  </div>

  <div class="form-row">
    <%= label f, :experience %>
    <%= textarea f, :experience, class: "text-input text-area" %>
    <%= error_tag f, :experience %>
  </div>

  <div class="two-buttons-container">
    <%= submit "Save", class: "register-button" %>
    <a href="#" class="delete-account-button">Delete My Account</a>
  </div>

<% end %>
