<div class="about-me-page">
  <%= render "_learner_form.html", Map.put(assigns, :action, Routes.about_me_path(@conn, :update)) %>
</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/pages/about_me.js") %>"></script>
