<section class="users-page">
  <div class="content-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 admin-table--scrollable">
          <table class="admin-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>CV</th>
                <th>LinkedIn</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action Plan</th>
                <th>Rating</th>
                <th>Verified</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <%= for user <- @users do %>
                <tr>
                  <td class="text-center"><%= user.id %></td>
                  <td><%= full_name(user) %></td>
                  <td class="text-center">
                    <a href="#"><i class="icon icon-file"></i></a>
                  </td>
                  <td class="text-center">
                    <%= if user.linkedin_profile_url do %>
                      <a href="<%= user.linkedin_profile_url %>" target="_blank">
                        <i class="icon icon-linkedin"></i>
                      </a>
                    <% end %>
                  </td>
                  <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
                  <td class="text-center">
                    <span class="badge <%= user_status_badge_class(:scheduled) %>">
                      <%= user_status_badge_name(:scheduled) %>
                    </span>
                  </td>
                  <td class="text-center"><span class="badge badge-plan-awaiting">Awaiting</span></td>
                  <td>
                    <div class="rating-col">
                      <i class="icon icon-rating"></i><span class="rating-value">5.0</span>
                    </div>
                  </td>
                  <td class="text-center"><i class="icon <%= verified_icon_class(true) %>"></i></td>
                  <td class="text-center">
                    <a href="<%= Routes.experts_path(@conn, :show, user.id) %>">
                      <i class="icon icon-right"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
