<section class="users-page">
  <div class="content-navbar">
    <a href="<%= Routes.experts_path(@conn, :index) %>" class="content-back-button">
      <i class="icon icon-left"></i>
    </a>
    <span class="badge badge-wide <%= user_status_badge_class(:scheduled) %>">
      <%= user_status_badge_name(:scheduled) %>
    </span>
  </div>

  <div class="content-container">
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-lg-4 photo-group">
          <div class="form-group">
            <label>ID</label>
            <p><%= @user.id %></p>
          </div>
          <div class="form-group">
            <img src="/images/layout/Hero_01.png" alt="">
          </div>
        </div>
        <div class="col-lg">
          <div class="row">
            <div class="form-group col-lg-3">
              <label>Name</label>
              <p><%= @user.first_name %></p>
            </div>
            <div class="form-group col-lg-3">
              <label>Last Name</label>
              <p><%= @user.last_name %></p>
            </div>
            <div class="form-group col-lg-6">
              <label>Email</label>
              <p><%= @user.email %></p>
            </div>
            <div class="form-group col-lg-4">
              <label>Rating</label>
              <p class="rating"><%= rating_progress(5.0) %></p>
            </div>
            <div class="form-group col-lg-4">
              <label>LinkedIn Profile</label>
              <p class="text-truncate linkedin-link">
                <%= if @user.linkedin_profile_url do %>
                  <a href="<%= @user.linkedin_profile_url %>" target="_blank">
                    <%= @user.linkedin_profile_url %>
                  </a>
                <% else %>
                  <span class="badge badge-add-reminder">Remind to add</span>
                <% end %>
              </p>
            </div>
            <div class="form-group col-lg-4">
              <label>Resume</label>
              <p class="text-truncate">
                <%= if @user.resume do %>
                  <a href="<%= @user.resume.file_name %>" target="_blank">
                    <%= @user.resume.file_name %>
                  </a>
                <% else %>
                  <span class="badge badge-add-reminder">Remind to add</span>
                <% end %>
              </p>
            </div>
            <div class="form-group col-lg-12">
              <label>Action Plan</label>
              <p>
                <span class="badge badge-big badge-plan-submitted">Submitted</span>
                <a href="#" class="admin-button admin-button--narrow admin-button-blue plan-button">
                  <i class="icon icon-eye"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12">
          <label>Education</label>
          <p class="education">
            <%= if @user.education do %>
              <%= @user.education %>
            <% else %>
              <span class="badge badge-add-reminder">Remind to add</span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Experience</label>
          <p class="experience">
            <%= if @user.experience do %>
              <%= @user.experience %>
            <% else %>
              <span class="badge badge-add-reminder">Remind to add</span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row row-action-buttons">
        <div class="col-md col-message-button">
          <a href="#" class="admin-button admin-button-blue admin-button--full-width">
            <i class="icon icon-message"></i>
            Message
          </a>
        </div>
        <div class="col-md">
            <%= if Enum.random(1..2) == 1 do %>
              <a href="#" class="verification-link">
                <i class="icon <%= verified_icon_class(true) %>"></i>
              </a>
              <p>This expert has been verified</p>
            <% else %>
              <a href="#" class="verification-link">
                <i class="icon <%= verified_icon_class(false) %>"></i>
              </a>
              <p>Verify this expert</p>
            <% end %>
        </div>
        <div class="col-md col-delete-button">
          <a href="#" class="admin-button admin-button-hollow-red admin-button--small-text admin-button--full-width">
            Delete This Account
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
