<div class="pow-page">
  <h1>Create an account</h1>
  
  <%= form_for @changeset, @action, [as: :user, class: "sign-up-form"], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="form-row">
      <div class="form-row-half-left">
        <%= label f, :first_name %>
        <%= text_input f, :first_name, class: "text-input", placeholder: "First Name" %>
        <%= error_tag f, :first_name %>
      </div>

      <div class="form-row-half-right">
        <%= label f, :last_name %>
        <%= text_input f, :last_name, class: "text-input", placeholder: "Last Name" %>
        <%= error_tag f, :last_name %>
      </div>
    </div>
  
    <div class="form-row">
      <%= label f, :expert_field %>
      <%= text_input f, :expert_field, class: "text-input", placeholder: "What is your area of expertise?" %>
      <%= error_tag f, :expert_field %>
    </div>
  
    <div class="form-row">
      <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
      <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "text-input", placeholder: "email@email.com" %>
      <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    </div>
  
    <div class="form-row">
      <%= label f, :password %>
      <%= password_input f, :password, class: "text-input", placeholder: "Enter your password here" %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-row">
      <%= label f, :password_confirmation %>
      <%= password_input f, :password_confirmation, class: "text-input", placeholder: "Confirm your password here" %>
      <%= error_tag f, :password_confirmation %>
    </div>
  
    <div>
      <%= submit "Register", class: "register-button" %>
    </div>

    <div class="or-text">
      or
    </div>

    <div class="form-row">
      <div class="form-row-half-left">
        <button type="button" class="google-button">
          <img src="<%= Routes.static_path(@conn, "/images/google_logo.svg") %>" alt="google logo"/>
          <span>Sign Up with Google</span>
        </button>
      </div>

      <div class="form-row-half-right">
        <button type="button" class="linked-in-button">
          <img src="<%= Routes.static_path(@conn, "/images/linked_in_logo.svg") %>" alt="linked in logo"/>
          <span>Sign Up with LinkedIn</span>
        </button>
      </div>
    </div>

    <div class="form-row">
      <%= error_tag f, :terms_of_service %>
      <%= checkbox f, :terms_of_service, class: "terms-of-service-checkbox" %>
      <%= label f, :terms_of_service, class: "terms-of-service-label" do %>
        <div>By registering I confirm that I have read and agree to Better Interviews</div>
        <a href="#">Terms of Service</a>
      <% end %>
    </div>

    <div class="already-have-account">
      <h6>Already have an account?</h6>
      <%= link "Login", to: Routes.pow_session_path(@conn, :new) %>
    </div>

  <% end %>
</div>
