<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Better Interviews</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="learner-layout">
    <div class="learner-menu">
      <div class="logo-container">
        <a href="/">
          <img src="<%= Routes.static_path(@conn, "/images/Logo_BI_Black.svg") %>" alt="Better Interviews Logo"/>
        </a>
      </div>

      <a class="menu-link menu-link-current" href="#">
        <img src="<%= Routes.static_path(@conn, "/images/about_me_icon.svg") %>"/>
        <span>About Me</span>
      </a>
      <a class="menu-link" href="#">
        <img src="<%= Routes.static_path(@conn, "/images/new_appointment_icon.svg") %>"/>
        <span>New Appointment</span>
      </a>
      <a class="menu-link" href="#">
        <img src="<%= Routes.static_path(@conn, "/images/activities_icon.svg") %>"/>
        <span>Activities</span>
      </a>
      <a class="menu-link" href="#">
        <img src="<%= Routes.static_path(@conn, "/images/messages_icon.svg") %>"/>
        <span>Messages</span>
      </a>
    </div>
    <div class="learner-header">
      <div class="buttons-container">
        <%= if Pow.Plug.current_user(@conn) do %>
          <div class="logout-container">
            <img src="<%= Routes.static_path(@conn, "/images/logout_icon.svg") %>"/>
            <%= link "Log out", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
          </div>
        <% end %>
        <a href="#" class="contact-us">
          Contact Us
        </a>
      </div>
    </div>
    <div class="learner-content">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </div>
  </body>
</html>
