<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Better Interviews</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="green-layout">
    <header>
      <a href="/" class="logo">
        <img src="<%= Routes.static_path(@conn, "/images/Logo_BI_OnGreen.svg") %>" alt="Better Interviews Logo"/>
      </a>
    </header>
    <div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>
    <div class="pow-container">
      <div class="side-panel-left">
        <img class="hero-big" src="<%= Routes.static_path(@conn, "/images/Hero_01.png") %>" alt="Hero 1"/>
        <br>
        <img class="hero-small" src="<%= Routes.static_path(@conn, "/images/Hero_02.png") %>" alt="Hero 2"/>
      </div>
      <div class="content">
        <%= @inner_content %>
      </div>
      <div class="side-panel-right">
        <img class="hero-big" src="<%= Routes.static_path(@conn, "/images/Hero_03.png") %>" alt="Hero 3"/>
        <br>
        <img class="hero-small" src="<%= Routes.static_path(@conn, "/images/Hero_04.png") %>" alt="Hero 4"/>
      </div>
    </div>
  </body>
</html>
