.badge {
  display: inline-block;
  padding: 7px 10px;
  font-family: Averta-Bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  @include border-radius(4px);

  @at-root a#{&} {
    @include hover-focus() {
      text-decoration: none;
    }
  }

  &-wide {
    min-width: 100px;
  }

  &-big {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 19px;
  }

  &-add-reminder {
    color: $theme-color-white;
    background-color: $theme-color-red;
  }

  &-plan {
    &-received,
    &-submitted {
      color: $theme-color-blue;
      border: 1px solid $theme-color-blue;
    }

    &-awaiting,
    &-pending {
      color: $theme-color-red;
      border: 1px solid $theme-color-red;
    }
  }

  &-status {
    &-active {
      color: $theme-color-black;
      background-color: $theme-color-yellow;
    }

    &-awaiting {
      color: $theme-color-white;
      background-color: $theme-color-red;
    }

    &-completed {
      color: $theme-color-white;
      background-color: $theme-color-blue;
    }

    &-scheduled {
      color: $theme-color-white;
      background-color: $theme-color-green;
    }

    &-paused {
      color: $theme-color-green;
      border: 1px solid $theme-color-green;
    }
  }

  &-payment {
    &-fail {
      color: $theme-color-white;
      background-color: $theme-color-red;
    }

    &-success {
      color: $theme-color-white;
      background-color: $theme-color-blue;
    }

    &-pending {
      color: $theme-color-green;
      border: 1px solid $theme-color-green;
    }
  }
}
