.admin-button {
  display: inline-block;
  font-family: Averta-Bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 10px 25px;

  @include border-radius(4px);

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  i.icon.icon-message {
    vertical-align: text-top;
  }

  &--narrow {
    padding: 8px 12px;
  }

  &--small-text {
    font-size: 16px;
    line-height: 26px;
  }

  &--full-width {
    width: 100%;
  }

  &-hollow-red {
    color: $theme-color-red;
    border: 1px solid $theme-color-red;

    &:hover {
      background-color: $theme-color-red;
    }
  }

  &-blue {
    color: #fff;
    background-color: $theme-color-blue;
    border: 1px solid $theme-color-blue;
  }
}
