.form-group {
  color: $text-color;
  margin-bottom: 15px;

  > label {
    font-family: Averta-Bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  > p {
    font-family: Averta-Regular;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
  }
}
