i.icon {
  display: inline-block;
  width: 30px;
  height: 30px;

  &-file {
    background: url(/images/icons/file.svg) no-repeat;
  }

  &-linkedin {
    background: url(/images/icons/linkedin.svg) no-repeat;
  }

  &-rating {
    background: url(/images/icons/star-yellow.svg) no-repeat;
    width: 24px;
    height: 20px;

    &-empty {
      background: url(/images/icons/star-white.svg) no-repeat;
      width: 24px;
      height: 20px;
    }
  }

  &-right {
    background: url(/images/icons/right.svg) no-repeat;
  }

  &-left {
    background: url(/images/icons/left.svg) no-repeat;
    width: 24px;
    height: 24px;
  }

  &-eye {
    background: url(/images/icons/eye.svg) no-repeat;
    width: 24px;
    height: 20px;
  }

  &-message {
    background: url(/images/icons/message.svg) no-repeat;
    width: 24px;
    height: 24px;
  }

  &-verified {
    background: url(/images/icons/verified.svg) no-repeat;
    width: 24px;
    height: 24px;
  }

  &-unverified {
    background: url(/images/icons/unverified.svg) no-repeat;
    width: 24px;
    height: 24px;
  }
}
