.admin-table {
  width: 100%;
  border-collapse: collapse;
  color: #272838;

  &--scrollable {
    overflow-y: auto;
  }

  th,
  td {
    padding: 1.25rem 0.75rem;
    vertical-align: top;
    border-right: 1px solid rgba(23, 137, 252, 0.1);

    &:last-child {
      border-right: none;
    }
  }

  thead th {
    vertical-align: bottom;
    font-family: Averta-Bold;
    font-size: 14px;
    line-height: 18px;
  }

  tbody {
    tr {
      td {
        font-family: Averta-Regular;
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
      }

      &:nth-child(2n + 1) {
        td {
          background: rgba(23, 137, 252, 0.05);

          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}
