// colors
$theme-color-yellow: #f6f240;
$theme-color-blue: #1789fc;
$theme-color-red: #ff7b7b;
$theme-color-green: #06d6a0;
$theme-color-white: #fff;
$theme-color-black: #272838;

$header-height: 64px;
$sidebar-width: 200px;
$container-side-margin: 100px;
$text-color: $theme-color-black;

body.admin-panel {
  background: rgba(23, 137, 252, 0.05);
  font-family: Averta-Bold;

  .logo {
    display: block;
    width: 160px;
    height: 27px;
    background: url('/images/layout/logo.svg') no-repeat;
  }

  @import "./main/header";
  @import "./main/sidebar";
  @import "./main/content";
}
