body.session {
  background-color: #06d6a0;
  width: 100%;

  header {
    a.logo {
      display: block;
      margin: 14px auto 60px;
      text-align: center;

      img {
        width: 181px;
      }
    }
  }

  .alert {
    text-align: center;
  }

  .pow-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: space-between;

    .side-panel-left,
    .side-panel-right,
    .content {
      margin: 0 auto;
    }

    .side-panel-left,
    .side-panel-right {
      display: none;
      max-width: 20%;
      margin: 0;
      padding: 0;
    }

    .content {
      margin: auto;
      width: 100%;
    }

    .hero-big {
      width: 280px;
      padding-bottom: 47px;
    }

    .hero-small {
      max-width: 188px;
    }

    .content {
      display: block;
      margin: auto 10px;
    }

    .side-panel-left,
    .side-panel-right {
      max-width: 20%;
    }

    .side-panel-left {
      text-align: left;
    }

    .side-panel-right {
      text-align: right;
    }
  }

  @include desktop-1280 {
    .pow-container {
      .side-panel-left,
      .side-panel-right {
        display: unset;
      }

      .content {
        width: 60%;
      }
    }
  }
}
