@import '~croppie/croppie.css';

.about-me-page {
  margin: 34px 100px;
  position: relative;

  .your-id {
    font-family: Averta-Semibold;
    font-size: 16px;
    line-height: 19px;
    color: #272838;
    padding-bottom: 8px;
  }

  .about-me-form {
    width: 100%;
    min-height: 300px;
    background: #fff;
    border-radius: 8px;
    padding: 40px;

    .user-avatar-label {
      cursor: pointer;
    }

    .user-avatar-section {
      width: 25%;
      display: inline-block;
      padding-bottom: 28px;
    }

    .user-profile-picture {
      width: 100%;
      display: inline-block;
    }

    .apply-changes-button {
      display: block;
      padding: 7px 12px;
      margin: auto;
      border-radius: 4px;
      border: 0;
      cursor: pointer;
      background: #1789fc;
      text-align: center;
      font-family: Averta-Bold;
      font-size: 16px;
    }

    label {
      display: block;
      text-align: left;
      margin-bottom: 10px;
      font-family: Averta-Bold;
      font-size: 16px;
      line-height: 19px;
      color: #272838;
    }

    .text-input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      max-width: 100%;
      background: rgba(23, 137, 252, 0.05);
      border-radius: 4px;
      border: 0;
      padding: 15px 30px;
      height: 60px;
      outline: none;
      font-family: Averta-Regular;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.05em;
      color: #272838;
    }

    .text-area {
      height: 130px;
      padding-bottom: 30px;
    }

    .form-block-4-items {
      display: flex;
      justify-content: space-between;
      width: 100%;

      input {
        height: 44px;
      }

      .form-el-slim {
        display: flex;
        justify-content: space-between;

        .retry-block {
          display: block;
          margin-top: 16px;
          max-width: 100%;
          width: 100%;
          background: rgba(23, 137, 252, 0.05);
          border-radius: 4px;
          font-family: Averta-Regular;
          font-size: 14px;
          line-height: 30px;
          color: #272838;
          padding-left: 16px;
          cursor: pointer;

          img {
            @include clearfix();

            background: #1789fc;
            float: right;
            margin-right: 0;
            border-radius: 4px;
          }

          span {
            font-family: Averta-Regular;
            font-size: 14px;
            line-height: 16px;
            color: #272838;
            opacity: 0.5;
          }
        }

        img {
          width: 30px;
          margin-right: 12px;
        }

        input {
          height: 30px;
        }
      }

      .form-col {
        display: inline-block;
        width: 24%;

        label {
          margin-bottom: 16px;
        }
      }
    }

    .form-side-block {
      @include clearfix();

      display: inline-block;
      float: right;
      width: 70%;
      margin-left: 40px;
      vertical-align: top;
    }

    .form-row {
      @include clearfix();

      display: block;
      margin-bottom: 30px;

      .form-row-half-left {
        float: left;
        width: 48%;
      }

      .form-row-half-right {
        float: right;
        width: 48%;
      }
    }

    .register-button {
      display: inline-block;
      padding: 7px 73px;
      background: #1789fc;
      border-radius: 4px;
      border: 0;
      outline: none;
      font-family: Averta-Bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #fff;
    }

    .delete-account-button {
      float: right;
      display: inline-block;
      padding: 7px 20px;
      outline: none;
      font-family: Averta-Bold;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      border: 1px solid #ff7b7b;
      border-radius: 4px;
      text-decoration: none;

      &:visited,
      &:hover {
        text-decoration: none;
      }

      color: #ff7b7b;
    }
  }
}
