.learner-package-quiz-page {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 940px;

  .section {
    margin-top: 9em;
  }

  h2 {
    font-size: 1.8em;
    font-family: Averta, sans-serif;
    line-height: 1.5em;
    font-weight: 700;
  }

  h4 {
    font-family: Averta, sans-serif;
    color: #272838;
    font-size: 18px;
    line-height: 28px;
  }

  .text-field {
    margin-bottom: 5px;
    border: 0 none #000;
    border-radius: 4px;
    font-family: Averta, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    cursor: text;
    padding: 8px 12px;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  span.invalid-feedback {
    display: block;
    color: red;
    margin: 0 auto 20px;
  }

  .button {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #1789fc;
    border-radius: 4px;
    background-color: #1789fc;
    font-family: Averta, sans-serif;
    font-size: 18px;
    line-height: 42px;
    font-weight: 700;
    color: white;
    border: 0;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
  }

  .name-section,
  .email-section {
    input {
      width: 40%;
      height: 44px;
      color: #333;
      vertical-align: middle;
      background-color: #fff;
    }

    .button {
      margin-top: 20px;
    }
  }

  .interviewing-keepgoing-section {
    margin-top: 7em;
  }

  .email-section {
    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h4 {
      margin-top: 45px;
      font-weight: normal;
    }
  }

  .interviewing-section {
    margin-top: 4em;
    display: inline-block;

    h2 {
      margin-bottom: 0;
    }

    form {
      display: inline;
      margin-right: 20px;
    }

    .button {
      display: inline-block;
    }
  }

  .checkbox-panel {
    @include clearfix();

    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    display: block;
    text-align: left;
    margin: 0 10px 5px 10px;

    label {
      font-weight: bold;
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      vertical-align: super;
      margin-bottom: 0;
      cursor: pointer;
    }

    input {
      cursor: pointer;
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      margin-left: 0;
      color: #272838;
    }
  }

  .topics-keepgoing-section {
    h2 {
      margin-bottom: 10px;
      font-family: Averta, sans-serif;
      color: #272838;
      font-size: 1.8em;
      line-height: inherit;
      font-weight: 700;
      text-align: center;
    }

    h4 {
      font-family: Averta, sans-serif;
      color: #272838;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      font-weight: normal;
    }
  }

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .communication-section {
    form {
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 20px;
    }

    button {
      border: 0 none;
      outline: none;
    }

    .communication-logo {
      cursor: pointer;
      display: grid;
      width: 300px;
      height: 136px;
      padding: 20px;
      border: 0 none;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

      &:hover {
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
      }

      div {
        font-weight: 700;
        font-family: Averta, sans-serif;
        color: #272838;
        font-size: 18px;
        line-height: 28px;
      }

      img {
        display: inline-block;
        margin: auto;
      }
    }
  }

  .communication-selected-section {
    margin-top: 6em;

    h4 {
      font-weight: normal;
    }
  }

  .salary-section {
    margin-top: 3em;
    display: inline-block;
    margin-right: 20px;

    form {
      display: inline-block;
      margin-left: 20px;
    }

    h4 {
      font-weight: normal;
    }

    .filled-button {
      border: 2px solid #1789fc;
      background-color: #1789fc;

      &:hover {
        border: 2px solid #272838;
        background-color: transparent;
        color: #272838;
        border-radius: 4px;
      }
    }

    .empty-button {
      background-color: transparent;
      border-color: #fff;
      border-style: solid;
      border-width: 2px;
      border-radius: 4px;

      &:hover {
        color: #272838;
        border-color: #272838;
        border: 2px solid #272838;
      }
    }
  }
}
