<div class="pow-page">
  <h1>Forgot password</h1>
  
  <%= form_for @changeset, Routes.reset_password_path(@conn, :create), [as: :user, class: "reset-password-form"], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="form-row">
      <%= label f, :email %>
      <%= text_input f, :email, class: "text-input", placeholder: "email@email.com" %>
      <%= error_tag f, :email %>
    </div>
  
    <div>
      <%= submit "Send a new password", class: "register-button" %>
    </div>
  <% end %>
</div>
