.dashboard-page {
  font-family: Averta-Bold;
  color: #272838;

  &-total-item {
    height: 32px;
    margin-top: 20px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      .dashboard-page-total-item-progress-bar {
        background-color: #06d6a0;
      }
    }

    &-label {
      display: grid;
      align-items: center;
      min-width: 190px;
      text-align: end;
      font-size: 16px;
      line-height: 16px;
    }

    &-progress {
      height: 100%;
      background: linear-gradient(0deg, rgba(23, 137, 252, 0.1), rgba(23, 137, 252, 0.1)), #fff;

      &-bar {
        font-size: 20px;
        line-height: 23px;
        text-align: right;
        padding-right: 12px;
        background-color: #1789fc;
      }
    }
  }
}
