.payments-page {
  .column-amount {
    font-size: 16px;
    line-height: 19px;
  }

  .column-id {
    min-width: 112px;
  }

  .row-action-buttons {
    padding-top: 75px;

    .col-message-button {
      min-width: 380px;
    }

    @include phone {
      .col-message-button {
        min-width: inherit;
      }
    }
  }
}
