.pow-page {
  margin: auto;
  width: 100%;

  h1 {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    color: #272838;
    font-family: Averta-Bold;
    font-weight: normal;
  }

  h3.sent-email {
    display: block;
    padding: 0 100px;
    margin-bottom: 40px;
    font-family: Averta-Semibold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #272838;
    font-weight: normal;
  }

  .sign-up-form,
  .sign-in-form,
  .reset-password-form {
    margin: auto auto 40px;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    max-width: 640px;
    min-height: 0;
    background: #fff;
    border-radius: 8px;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.05));

    label {
      display: block;
      font-family: Averta-Semibold;
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;
      color: #272838;
      text-align: left;
      margin-bottom: 11px;
    }

    .text-input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      max-width: 100%;
      background: rgba(23, 137, 252, 0.05);
      border-radius: 4px;
      border: 0;
      padding: 15px 30px;
      height: 60px;
      outline: none;

      &::placeholder {
        font-family: Averta-Light;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        color: #272838;
        opacity: 0.5;
      }
    }

    .terms-of-service-label,
    .terms-of-service-checkbox {
      display: inline-block;
      text-align: left;
      float: left;
    }

    .terms-of-service-label {
      vertical-align: top;
      font-family: Averta-Regular;
      font-size: 16px;
      line-height: 19px;
      color: #272838;
      font-weight: normal;
    }

    .terms-of-service-checkbox {
      vertical-align: top;
      margin-bottom: 40px;
      margin-right: 12px;
      width: 24px;
      height: 24px;
    }

    .invalid-feedback {
      display: block;
      color: red;
    }

    .or-text {
      margin: 24px 0 16px;
      font-family: Averta-Regular;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #272838;
    }

    .already-have-account,
    .forgot-password-text,
    .dont-have-account-yet {
      h6,
      link {
        display: inline;
        margin: 0;
        font-family: Averta-Regular;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #272838;
        font-weight: normal;
      }
    }

    .forgot-password-text {
      margin-bottom: 26px;
    }

    .google-button {
      display: inline-block;
      box-sizing: border-box;
      min-height: 60px;
      padding: 17px 20px;
      width: 100%;
      border-radius: 4px;
      border: 0;
      outline: none;
      text-align: left;
      font-family: Averta-Bold;
      font-size: 17px;
      line-height: 21px;
      color: #272838;
      background: #fff;
      text-decoration: none;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));

      img {
        float: left;
        margin-right: 23px;
      }

      span {
        display: block;
        float: left;
        line-height: 26px;
        vertical-align: middle;
      }
    }

    .linked-in-button {
      display: inline-block;
      box-sizing: border-box;
      min-height: 60px;
      padding: 17px 20px;
      width: 100%;
      background: #0077b5;
      border-radius: 4px;
      border: 0;
      outline: none;
      text-align: left;
      font-family: Averta-Bold;
      font-size: 17px;
      line-height: 21px;
      color: #fff;
      text-decoration: none;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));

      img {
        display: block;
        float: left;
        margin-right: 23px;
      }

      span {
        display: block;
        float: left;
        line-height: 26px;
        vertical-align: middle;
      }
    }

    .form-row {
      @include clearfix();

      display: block;
      margin-bottom: 30px;

      .form-row-half-left {
        float: left;
        width: 48%;
      }

      .form-row-half-right {
        float: right;
        width: 48%;
      }
    }

    .register-button {
      display: block;
      width: 100%;
      height: 60px;
      background: #1789fc;
      border-radius: 4px;
      border: 0;
      outline: none;
      font-family: Averta-Bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #fff;
    }

    a.register-button {
      line-height: 60px;
    }
  }

  @include tablet {
    .sign-up-form,
    .sign-in-form,
    .reset-password-form {
      .form-row {
        width: 100%;

        .form-row-half-left {
          width: 100%;
        }

        .form-row-half-right {
          width: 100%;
        }

        .terms-of-service-label {
          width: 82%;
        }

        .google-button,
        .linked-in-button {
          margin-bottom: 24px;

          span {
            width: 70%;
            text-align: center;
          }
        }
      }
    }
  }

  @include phone {
    h3.sent-email {
      padding: 0;
      margin: 0 5px 40px;
    }

    .sign-up-form,
    .sign-in-form,
    .reset-password-form {
      .google-button,
      .linked-in-button {
        span {
          max-width: 70%;
        }
      }
    }
  }
}
