.users-page {
  .rating-col {
    display: flex;
    font-size: 16px;

    .rating-value {
      line-height: 22px;
    }
  }

  .form-group {
    &.photo-group {
      max-width: 240px;

      img {
        width: 100%;
      }
    }

    p {
      &.education {
        font-family: Averta-Regular;
        font-size: 20px;
        line-height: 23px;
      }

      &.experience {
        font-family: Averta-Regular;
        font-size: 20px;
        line-height: 32px;
        min-height: 150px;
      }

      &.rating {
        min-width: 125px;
      }

      a.plan-button {
        vertical-align: middle;
      }
    }
  }

  .row-action-buttons {
    .col-message-button {
      max-width: 212px;
    }

    .col-delete-button {
      max-width: 232px;
    }

    @include phone {
      .col-message-button,
      .col-delete-button {
        max-width: inherit;
        width: 100%;
        margin: 15px 0;
      }
    }

    .verification-link {
      display: inline-block;
      margin: 10px 10px 0 0;

      & + p {
        display: inline-block;
        vertical-align: middle;
        font-family: Averta-Bold;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
