<section class="home-page">
  <%= if Pow.Plug.current_user(@conn) do %>
    <div><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></div>
  <% else %>
    <div><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></div>
    <div><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></div>
  <% end %>
</section>
