@font-face {
  font-family: 'Averta-Semibold';
  src:
    url('/fonts/AvertaFont/Averta Semibold.woff') format('woff'),
    url('/fonts/AvertaFont/Averta Semibold.otf') format("opentype");
}

@font-face {
  font-family: 'Averta-Bold';
  src:
    url('/fonts/AvertaFont/Averta Bold.woff') format('woff'),
    url('/fonts/AvertaFont/Averta Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Averta-Regular';
  src:
    url('/fonts/AvertaFont/Averta.woff') format('woff'),
    url('/fonts/AvertaFont/Averta.otf') format("opentype");
}

@font-face {
  font-family: 'Averta-Light';
  src:
    url('/fonts/AvertaFont/Averta Light.woff') format('woff'),
    url('/fonts/AvertaFont/Averta Light.otf') format("opentype");
}

@font-face {
  font-family: 'Averta-Black';
  src:
    url('/fonts/AvertaFont/Averta Black.woff') format('woff'),
    url('/fonts/AvertaFont/Averta Black.otf') format("opentype");
}
