body.green-layout {
  background-color: #06d6a0;
  width: 100%;

  header {
    a.logo {
      display: block;
      margin: 14px auto 60px;
      text-align: center;

      img {
        width: 181px;
      }
    }
  }

  .alert {
    text-align: center;
  }

  .pow-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: space-between;

    .side-panel-left,
    .side-panel-right,
    .content {
      margin: 0 auto;
    }

    .side-panel-left,
    .side-panel-right {
      display: none;
      max-width: 20%;
      margin: 0;
      padding: 0;
    }

    .content {
      margin: auto;
      width: 100%;
    }

    .hero-big {
      width: 280px;
      padding-bottom: 47px;
    }

    .hero-small {
      max-width: 188px;
    }

    .content {
      display: block;
      margin: 0 10px;
    }

    .side-panel-left,
    .side-panel-right {
      max-width: 20%;
    }

    .side-panel-left {
      text-align: left;
    }

    .side-panel-right {
      text-align: right;
    }
  }

  @include desktop-1280 {
    .pow-container {
      .side-panel-left,
      .side-panel-right {
        display: unset;
      }

      .content {
        width: 60%;
      }
    }
  }
}

body.learner-layout {
  @include clearfix();

  background: #fff;
  min-height: 100%;

  .learner-menu {
    float: left;
    width: 250px;
    min-height: 100%;
    background: #fff;
    border-right: 1px solid rgba(23, 137, 252, 0.1);
    filter: drop-shadow(10px 0 30px rgba(23, 137, 252, 0.1));
    padding-top: 0;
    margin-top: 0;

    .logo-container {
      height: 64px;
      border-bottom: 1px solid rgba(23, 137, 252, 0.1);
      text-align: center;
      line-height: 64px;

      img {
        width: 160px;
      }
    }

    .menu-link {
      display: block;
      height: 88px;
      line-height: 88px;
      padding-left: 24px;
      text-decoration: none;
      font-family: Averta-Bold;
      font-size: 18px;
      color: #1789fc;

      &:visited,
      &:hover {
        text-decoration: none;
      }

      img {
        padding-right: 14px;
      }

      span,
      img {
        display: inline-block;
        vertical-align: middle;
      }

      &-current {
        background: linear-gradient(0deg, rgba(23, 137, 252, 0.1), rgba(23, 137, 252, 0.1)), #fff;
        color: #272838;
      }
    }
  }

  .learner-header {
    float: left;
    background: #fff;
    width: calc(100% - 250px);
    height: 64px;
    line-height: 64px;
    filter: drop-shadow(0 4px 4px rgba(23, 137, 252, 0.05));
    border-bottom: 1px solid rgba(23, 137, 252, 0.1);

    a,
    a:visited,
    a:hover {
      text-decoration: none;
    }

    .buttons-container {
      @include clearfix();

      float: right;
      margin-right: 7%;

      .logout-container {
        display: inline-block;
        font-family: Averta-Bold;
        font-size: 16px;
        color: #272838;
        padding-right: 40px;
        height: 100%;

        a,
        img {
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    .contact-us {
      display: inline-block;
      vertical-align: middle;
      background: #1789fc;
      border-radius: 4px;
      font-family: Averta-Bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      padding: 8px 20px;
    }
  }

  .learner-content {
    float: left;
    width: calc(100% - 250px);
    height: calc(100% - 64px);
    background: rgba(23, 137, 252, 0.05);
  }
}
