<section class="payments-page">
  <div class="content-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 admin-table--scrollable">
          <table class="admin-table">
            <thead>
              <tr>
                <th>Candidate ID</th>
                <th>Sale ID</th>
                <th>Created at</th>
                <th>Card number</th>
                <th>Amount/Package</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= for payment <- @payments do %>
                <tr>
                  <td class="column-id"><%= payment.user_id %></td>
                  <td><%= payment.sale_id_external %></td>
                  <td><%= formatted_payment_time(payment.inserted_at) %></td>
                  <td><%= payment.card_name_external %></td>
                  <td class="text-center column-amount">$<%= payment.amount %></td>
                  <td class="text-center">
                    <span class="badge <%= status_badge_class(payment.status) %>">
                      <%= status_badge_text(payment.status) %>
                    </span>
                  </td>
                  <td class="text-center">
                    <a href="<%= Routes.payments_path(@conn, :show, payment.id) %>">
                      <i class="icon icon-right"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
