<section class="payments-page">
  <div class="content-navbar">
    <a href="<%= Routes.payments_path(@conn, :index) %>" class="content-back-button">
      <i class="icon icon-left"></i>
    </a>
    <span class="badge badge-wide <%= status_badge_class(@payment.status) %>">
      <%= status_badge_text(@payment.status) %>
    </span>
  </div>

  <div class="content-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 form-group">
          <label>Candidate ID</label>
          <p><%= @payment.user_id %></p>
        </div>
        <div class="col-md-7 form-group">
          <label>Sale ID</label>
          <p><%= @payment.sale_id_external %></p>
        </div>
        <div class="col-md-5 form-group">
          <label>Created At</label>
          <p><%= formatted_payment_time(@payment.inserted_at) %></p>
        </div>
        <div class="col-md-7 form-group">
          <label>Card Number</label>
          <p><%= @payment.card_name_external %></p>
        </div>
        <div class="col-md form-group">
          <label>Amount/Package</label>
          <p>$<%= @payment.amount %></p>
        </div>
      </div>
      <div class="row row-action-buttons">
        <div class="col-md-3 col-message-button">
          <%= if @payment.status == :fail do %>
            <a href="#" class="admin-button admin-button-blue admin-button--full-width">
              <i class="icon icon-message"></i>
              Message to Candidate
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
