<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin · Better Interviews</title>
    <link href="<%= Routes.static_path(@conn, "/images/favicon.png") %>" rel="icon">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="admin-panel">
    <header>
      <nav class="navbar fixed-top">
        <div class="content-wrapper">
          <ul class="nav justify-content-end header-menu">
            <li class="nav-item header-menu-item">
              <%= link to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "nav-link header-menu-item-logout" do %>
                <svg width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 20H1V4H4M17 20V4L7 1V23L17 20ZM10 11.8V12.2H10.4V11.8H10Z" stroke="#1789FC" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Logout
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <nav class="sidebar">
      <div class="sidebar-logo">
        <a class="logo" href="/"></a>
      </div>
      <div class="sidebar-scrollable">
        <ul class="sidebar-menu">
          <li class="ico-dashboard <%= if dashboard_page?(@conn) do %>active<% end %>">
            <%= link to: Routes.dashboard_path(@conn, :index) do %>
              <p>Dashboard</p>
            <% end %>
          </li>
          <li class="ico-candidates <%= if candidates_page?(@conn) do %>active<% end %>">
            <%= link to: Routes.candidates_path(@conn, :index) do %>
              <p>Candidates</p>
            <% end %>
          </li>
          <li class="ico-experts <%= if experts_page?(@conn) do %>active<% end %>">
            <%= link to: Routes.experts_path(@conn, :index) do %>
              <p>Experts</p>
            <% end %>
          </li>
          <li class="ico-payments <%= if payments_page?(@conn) do %>active<% end %>">
            <%= link to: Routes.payments_path(@conn, :index) do %>
              <p>Payments</p>
            <% end %>
          </li>
          <li class="ico-package-types">
            <%= link to: "#" do %>
              <p>Package Types</p>
            <% end %>
          </li>
          <li class="ico-expert-network">
            <%= link to: "#" do %>
              <p>Expert Network</p>
            <% end %>
          </li>
          <li class="ico-messages">
            <%= link to: "#" do %>
              <p>Messages</p>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="content-wrapper">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
