<div class="pow-page">
  <h1>Welcome!</h1>
  
  <%= form_for @changeset, @action, [as: :user, class: "sign-in-form"], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="form-row">
      <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
      <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "text-input", placeholder: "email@email.com" %>
      <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
    </div>
  
    <div class="form-row">
      <%= label f, :password %>
      <%= password_input f, :password, class: "text-input", placeholder: "Enter your password here" %>
      <%= error_tag f, :password %>
    </div>
  
    <div>
      <%= submit "Login", class: "register-button" %>
    </div>

    <div class="or-text">
      or
    </div>

    <div class="form-row">
      <div class="form-row-half-left">
        <button type="button" class="google-button">
          <img src="<%= Routes.static_path(@conn, "/images/google_logo.svg") %>" alt="google logo"/>
          <span>Sign In with Google</span>
        </button>
      </div>

      <div class="form-row-half-right">
        <button type="button" class="linked-in-button">
          <img src="<%= Routes.static_path(@conn, "/images/linked_in_logo.svg") %>" alt="linked in logo"/>
          <span>Sign In with LinkedIn</span>
        </button>
      </div>
    </div>

    <div class="forgot-password-text">
      <h6>Forgot</h6>
      <%= link("password?", to: Routes.pow_reset_password_reset_password_path(@conn, :new)) %>
    </div>

    <div class="dont-have-account-yet">
      <h6>Don't have account yet?</h6>
      <%= link "Register", to: Routes.pow_registration_path(@conn, :new) %>
    </div>
  <% end %>
</div>
