<div class="pow-page">
  <h1>Reset password</h1>

  <%= form_for @changeset, @action, [as: :user, class: "reset-password-form"], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="form-row">
      <%= label f, :password, "New password" %>
      <%= password_input f, :password, class: "text-input", placeholder: "Enter a new password here" %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-row">
      <%= label f, :password_confirmation, "Confirm new password" %>
      <%= password_input f, :password_confirmation, class: "text-input", placeholder: "Repeat a new password here" %>
      <%= error_tag f, :password_confirmation %>
    </div>

    <div>
      <%= submit "Save", class: "register-button" %>
    </div>
  <% end %>
</div>
