  <h2 class="title">In what way would you be most comfortable communicating with a coach?</h2>
  
  <%= form_for @changeset, @action, fn f -> %>
    <%= hidden_input f, :step_name, value: @step_name %>
  
    <%= hidden_input f, :communication_channel, value: "video" %>
  
    <%= submit do %>
      <div class="communication-logo">
        <img src="<%= Routes.static_path(@conn, "/images/VideoCall.svg") %>" alt="Video Call"/>
        <br>
        <div>Video Call<div>
      </div>
    <% end %>
  <% end %>
  
  <%= form_for @changeset, @action, fn f -> %>
    <%= hidden_input f, :step_name, value: @step_name %>
  
    <%= hidden_input f, :communication_channel, value: "phone" %>
  
    <%= submit do %>
      <div class="communication-logo">
        <img src="<%= Routes.static_path(@conn, "/images/PhoneCall.svg") %>" alt="Phone Call"/>
        <br>
        <div>Phone Call</div>
      </div>
    <% end %>
  <% end %>
</div>
