<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <%= if video_call?(@learner_package_quiz) do %>
    <img src="<%= Routes.static_path(@conn, "/images/VideoCall-Green.svg") %>" alt="Video Call"/>
  <% else %>
    <img src="<%= Routes.static_path(@conn, "/images/PhoneCall-Green.svg") %>" alt="Phone Call"/>
  <% end %>

  <h2>Fantastic! You’re almost done.</h2>
  <%= if video_call?(@learner_package_quiz) do %>
    <h4>Video calls allow your coach to help you will body language and presentation as well.</h4>
  <% else %>
    <h4>Phone interviews are the most common and usually the first step in getting an in-person interview.</h4>
  <% end %>

  <%= submit "Keep going", class: "button" %>
<% end %>
