<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <h2>It's really great to meet you <%= @learner_package_quiz.first_name %>!</h2>
  <h2>What's your email address?</h2>
  <h4>We want to save your answers to this quiz.</h4>
  <%= text_input f, :email, class: "text-field" %>
  <%= error_tag f, :email %>

  <div>
    <%= submit "Next", class: "button" %>
  </div>
<% end %>
