<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <img src="<%= Routes.static_path(@conn, "/images/Start_quiz.svg") %>" alt="Better Interviews Start"/>
  <h2>Nice, you're off to a great start!</h2>

  <div>
    <%= submit "Keep going", class: "button" %>
  </div>
<% end %>
