<h2>Are you actively interviewing yet?</h2>
<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <%= hidden_input f, :are_you_actively_interviewing, value: true %>
  <%= error_tag f, :are_you_actively_interviewing %>

  <%= submit "Yes, I'm interviewing", class: "button" %>
<% end %>

<%= form_for @changeset, @action, [class: "#{@step_name}-section"], fn f -> %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <%= hidden_input f, :are_you_actively_interviewing, value: false %>

  <%= submit "No, not yet", class: "button"  %>
<% end %>
