<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <h2>Let's get to know each other, what's your name?</h2>
  <%= text_input f, :first_name, class: "text-field", placeholder: "First Name" %>
  <%= error_tag f, :first_name %>

  <div>
    <%= submit "Next", class: "button" %>
  </div>
<% end %>
