<h2>Need help negotiating your salary?</h2>
<h4>Discussing and negotiating salary is a a skill that takes practice. Our coaches can help you tackle this tough topic, so you can get the paycheck you deserve.</h4>

<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
<% end %>

<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <%= hidden_input f, :need_help_negotiating_salary, value: true %>
  <%= error_tag f, :are_you_actively_interviewing %>

  <%= submit "Yes, help me negotiate", class: "button filled-button" %>
<% end %>

<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <%= hidden_input f, :need_help_negotiating_salary, value: false %>

  <%= submit "No, not now", class: "button empty-button" %>
<% end %>
