<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
  <%= hidden_input f, :step_name, value: @step_name %>

  <h2>Let’s dive into the details</h2>
  <h4>Now that we have a sense of what you’d like to discuss, we want to know the best way for our coaches to work with you.</h4>

  <div>
    <%= submit "Continue", class: "button" %>
  </div>
<% end %>
