<h2>What interview topics are you interested in improving?</h2>
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input f, :step_name, value: @step_name %>

  <div class="checkbox-panel">
    <%= checkbox f, :topics_elevator_pitch %>
    <%= label f, :topics_elevator_pitch, "Elevator Pitch" %>
    <br>
    <span>
      30-second, persuasive pitches to get people interested
      in and excited for your ideas, project, or skill set.
      Perfect for networking events or chance encounters.
    </span>
    <%= error_tag f, :topics_elevator_pitch %>
  </div>

  <div class="checkbox-panel">
    <%= checkbox f, :topics_behavioral_interview %>
    <%= label f, :topics_behavioral_interview, "Behavioral Interview" %>
    <br>
    <span>
      Answering the ‘What Ifs’ and other scenario-based questions in a way
      that demonstrates your work style and ability to think on your toes.
      The most common interview style you’ll encounter these days.
    </span>
    <%= error_tag f, :topics_behavioral_interview %>
  </div>

  <div class="checkbox-panel">
    <%= checkbox f, :topics_unstructured_interview %>
    <%= label f, :topics_unstructured_interview, "Unstructured Interview" %>
    <br>
    <span>
      These free-flowing interviews are typically more casual in nature,
      but are a good way to flex your conversational muscles and
      give interviewers a better sense of your personality and social skills.
    </span>
    <%= error_tag f, :topics_unstructured_interview %>
  </div>

  <div class="checkbox-panel">
    <%= checkbox f, :topics_stress_interview %>
    <%= label f, :topics_stress_interview, "Stress Interview" %>
    <br>
    <span>
      From brain-teasers to rapid-fire questioning, this challenging interview style
      is designed to understand how you’ll perform under pressure
      and navigate difficult situations.
    </span>
    <%= error_tag f, :topics_stress_interview %>
  </div>

  <div class="checkbox-panel">
    <%= checkbox f, :topics_im_not_sure %>
    <%= label f, :topics_im_not_sure, "I'm not sure" %>
    <%= error_tag f, :topics_im_not_sure %>
  </div>

  <br>
  <div>
    <%= submit "Continue", class: "button" %>
  </div>
<% end %>
