<div class="learner-package-quiz-page">
  <div class="learner-package-quiz-page section <%= @step_name %>-section">
    <%= render "_#{@step_name}.html", Map.put(assigns, :action, Routes.learner_package_quiz_path(@conn, :update)) %>
  </div>
</div>
