<h1>Video chat</h1>

<div class="video_chat_wrapper" id="video_chat" data-room-id="<%= @room_id %>" data-role="<%= @role %>">
    <div style="position: relative; width: 1280px; height:720px; margin: auto;">
        <video id="remote-video" width="1280" height="720" autoplay="on" playsinline="on"></video>
        <div style="position: absolute; top: 0; right: 0;">
            <video id="local-video" width="256" height="144" autoplay="on" playsinline="on" muted='muted'></video>
        </div>
    </div>
</div>
