<h1>Recordings</h1>

<%= for recording <- @recordings do %>
<div style="float:left; width: 25%">
  <video width="320" height="180" controls>
    <source src="<%= recording %>" type="video/mp4">
  </video>
</div>
<% end %>
