<section class="dashboard-page">
  <div class="content-container">
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Experts</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 0%">
             0
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Total number of candidates</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 25%">
             30
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Active interviews rooms</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 30%">
             10
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Candidates awaiting interviews</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 50%">
             30
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Scheduled interviews</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 60%">
             10
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Interviews completed</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 70%">
             130
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Experts under verification</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 90%">
             230
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Total revenue</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 0%">
             0
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Refund</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 5%">
             5
           </div>
         </div>
       </div>
     </div>
    <div class="row dashboard-page-total-item">
       <span class="col-md-2 dashboard-page-total-item-label">Paused/missed interviews</span>
       <div class="col-md">
         <div class="progress dashboard-page-total-item-progress">
           <div class="progress-bar dashboard-page-total-item-progress-bar" role="progressbar" style="width: 3%">
             3
           </div>
         </div>
       </div>
     </div>
  </div>
</section>
