main {
  margin-top: $header-height + 30px;
}

.content-container {
  background: #fff;
  border-radius: 8px;
  padding: 30px 25px;
  margin-bottom: 40px;
  filter: drop-shadow(0 10px 20px rgba(23, 137, 252, 0.05));
}

.content-wrapper {
  margin-left: $sidebar-width + $container-side-margin;
  margin-right: $container-side-margin;
}

.content-navbar {
  position: relative;
  padding-bottom: 12px;
}

.content-back-button {
  position: absolute;
  left: -35px;
}
