header {
  nav.navbar {
    width: 100%;
    height: $header-height;
    background-color: #fff;
    filter: drop-shadow(0 4px 4px rgba(23, 137, 252, 0.05));
  }

  .header-menu {
    &-item {
      a {
        color: $text-color;
        height: $header-height;
        padding-top: 1rem;
        font-size: 16px;
      }
    }
  }
}
