.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  z-index: 2000;
  background-color: #fff;
  filter: drop-shadow(10px 0 30px rgba(23, 137, 252, 0.1));

  &-logo {
    padding: 17px;
    height: $header-height;
    width: 100%;
    border-bottom: 1px solid rgba(23, 137, 252, 0.1);
  }

  &-scrollable {
    overflow-y: auto;
    height: calc(100vh - #{$header-height});
  }

  &-menu {
    width: 100%;
    height: 100%;
    list-style: none;
    padding-top: 15px;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: block;
      margin-bottom: 15px;

      &.active a {
        color: $text-color;
        background: linear-gradient(0deg, rgba(23, 137, 252, 0.1), rgba(23, 137, 252, 0.1)), #fff;
      }

      a {
        display: table;
        width: 100%;
        height: 66px;
        padding: 9px 15px;
        vertical-align: middle;
        color: #1789fc;

        &:hover {
          text-decoration: none;

          p {
            text-decoration: underline;
          }
        }

        &::before {
          content: " ";
          display: inline-block;
          width: 40px;
          height: 48px;
        }

        p {
          display: table-cell;
          margin-bottom: 0;
          height: 100%;
          vertical-align: middle;
          line-height: 21px;
          font-size: 18px;
          width: $sidebar-width - 80px;
        }
      }

      &.ico-dashboard a::before {
        background: url('/images/layout/dashboard.svg') no-repeat;
      }

      &.ico-candidates a::before {
        background: url('/images/layout/candidates.svg') no-repeat;
      }

      &.ico-experts a::before {
        background: url('/images/layout/experts.svg') no-repeat;
      }

      &.ico-payments a::before {
        background: url('/images/layout/payments.svg') no-repeat;
      }

      &.ico-package-types a::before {
        background: url('/images/layout/package_types.svg') no-repeat;
      }

      &.ico-expert-network a::before {
        background: url('/images/layout/expert_network.svg') no-repeat;
      }

      &.ico-messages a::before {
        background: url('/images/layout/messages.svg') no-repeat;
      }
    }
  }
}
